!!! 5
html(lang="en", data-ng-app="app")
  head
    meta(charset="utf-8")
    title #{marketing.name} - #{marketing.tagLine}
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="author", edit="David Geo Holmes")
    meta(name="copyright", content="David Geo Holmes")
    meta(name="description", content="Geometry Zen is an online application for learning Physics and Engineering using Geometric Algebra, Python programming, and WebGL visualization.")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600")
    link(rel="stylesheet", href=css, media="all")
    link(rel="icon", type="image/png", href="/img/favicon-48x48.png")
  body
    header
      .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar

            a.brand(href="/home")
              span.brandname
                | #{marketing.name}
                sup
                  | #{marketing.version} #{npm.version}
            .nav-collapse.collapse
              <user-links></user-links>
    #sticky-wrapper
      #view(data-ng-view)
      #sticky-push
    #sticky-footer
      footer
        .container-fluid
          .row-fluid
            #footer-copyright.span4
              | &copy; 2013 <a href="http://github.com/david-geo-holmes" target="_blank">David Geo Holmes</a>
            #footer-validator.span4
              | <a href="http://validator.w3.org/check?uri=referer" target="_blank"><img src="/img/html5.png" id="html5icon" alt="validator"></a>
            #footer-terms.span4
              | Dedicated to Geo
    script(src=js)
