!!! 5
html(lang="en", data-ng-app="app")
  head(profile="http://www.w3.org/2005/10/profile")
    meta(charset="utf-8")
    title #{marketing.name} - #{marketing.tagLine}
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="author", edit="David Geo Holmes")
    meta(name="copyright", content="")
    meta(name="description", content="")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600")
    link(rel="stylesheet", href=css, media="all")
    link(rel="icon", type="image/png", href="/img/favicon-48x48.png")
  body
    header
      div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
          div.container
            a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
              i.icon-cog
              a.brand(href="/")
                span.brandname
                  | #{marketing.name}
                  sup
                    | #{marketing.version} #{npm.version}
            div.nav-collapse.collapse
              ul.nav.pull-right
    div#sticky-wrapper
      div#view(data-ng-view)
        | I'm sorry, we are currently experiencing compatibility issues with your browser.
        br
        | Please try a different browser type. We suggest Google Chrome or Mozilla Firefox.
        br
        | If the problem persists please report the issue using the 
        a(href="https://github.com/geometryzen/geometryzen/issues", target="_blank")
          | Issue Tracker
      div#sticky-push
    div#sticky-footer
      div.extra
        div.container-fluid
          div.row-fluid
            div.span4
              h4 About
              ul
                li
                  a(href="http://geometryzen.github.io/mission/", target="_blank")
                    | Our Mission
                li
                  a(href="https://twitter.com/#!/geometryzen", target="_blank")
                    | Twitter
                li
                  a(href="javascript:;")
                    | Facebook
                li
                  a(href="https://plus.google.com/u/0/s/Geometry%20Zen/communities", target="_blank")
                    | Google+
            div.span4
              h4 Support
              ul
                li
                  a(href="http://geometryzen.github.io/faq/", target="_blank")
                    | Frequently Asked Questions
                li
                  a(href="https://github.com/geometryzen/geometryzen/issues", target="_blank")
                    | Ask a Question
                li
                  a(href="javascript:;")
                    | Video Tutorial
                li
                  a(href="javascript:;")
                    | Feedback
                li
                  a(href="https://github.com/geometryzen/geometryzen/issues", target="_blank")
                    | Issue Tracker
            div.span4
              h4 Legal
              ul
                li
                  a(href="javascript:;")
                    | License
                li
                  a(href="javascript:;")
                    | Terms of Use
                li
                  a(href="javascript:;")
                    | Privacy Policy
                li
                  a(href="javascript:;")
                    | Security
      footer
        div.container-fluid
          div.row-fluid
            div#footer-contributors.span6
              | By 
              a(href="http://github.com/david-geo-holmes", target="_blank")
                | David Geo Holmes
              | .
            div#footer-terms.span6
          div.row-fluid
            div#footer-copyright.span6
              | &copy; 2013 David Geo Holmes
            div#footer-terms.span6
              | Dedicated to Geo
    script(src=js)
    script(src=bladeASM)
    script(src=e2gaASM)
